t1/data/
t1/__pycache__/
t1/dqn_weights.h5

t1 - Kopie/data/
t1 - Kopie/__pycache__/
t1 - Kopie/dqn_weights.h5

t2/data/
t2/__pycache__/
t2/dqn_weights.h5

t3/data/
t3/__pycache__/
t3/dqn_weights.h5

t4/data/
t4/__pycache__/
t4/dqn_weights.h5

t5/data/
t5/__pycache__/
t5/dqn_weights.h5

t1.jpg
t2.jpg
t3.jpg
t4.jpg
t5.jpg